---
const stats = [
  {
    name: 'Let na trhu',
    value: 'xxx',
  },
  {
    name: 'Projektů',
    value: 'xxx',
  },
  {
    name: 'Spokojených zákazníků',
    value: "'xxx'",
  },
];
---

<section class="py-16 sm:py-20">
  <div class="mx-auto max-w-2xl px-4 sm:px-6 lg:max-w-7xl lg:px-8">
    <div class="grid gap-16 lg:grid-cols-2 lg:gap-24">
      <img
        class="mx-auto h-auto w-full max-w-xl rounded-3xl"
        width="576"
        height="864"
        src="/assets/klimtop_air_conduct.png"
        alt="obrazek KlimTop"
      />
      <div class="flex flex-col gap-10">
        <!-- Mission description -->
        <div class="space-y-8 sm:space-y-12">
          <h2 class="text-3xl font-medium tracking-tight sm:text-4xl underline decoration-red decoration-4 underline-offset-4">Firma KlimTop</h2>
          <div class="space-y-6">
            <p class="text-primary-950/70 dark:text-primary-200/70 text-base sm:text-lg">
              Jsme malá a dynamická firma s bohatými zkušenostmi v oblasti servisu, montáže a údržby 
              klimatizačních a tepelných čerpadel. Naše vášeň pro inovace a spokojenost zákazníků nás 
              posouvá kupředu, abychom vám poskytli špičkové služby v oblasti klimatizace a&nbspvytápění.
            </p>
            <p class="text-primary-950/70 dark:text-primary-200/70 text-base sm:text-lg">
              S hrdostí pracujeme s renomovanými značkami, jako jsou Toshiba a&nbspLG, abychom vám přinesli
               nejlepší ve světě klimatizace a&nbsptepelných čerpadel. Naše zkušenosti a odbornost jsou zárukou
                kvalitního servisu a precizní montáže. Oceňujeme důvěru našich zákazníků a&nbsps&nbspláskou ke svému
                 řemeslu vám přinášíme profesionální služby, které jdou ruku v ruce s efektivitou a&nbspúsporou
                  energie. Ať už potřebujete osvěžení nebo teplo, jsme tu pro vás s otevřeným srdcem a 
                  moderním přístupem k&nbsptechnologiím.
            </p>
            <p class="text-primary-950/70 dark:text-primary-200/70 text-base sm:text-lg">
              Bez zbytečných frází vám přinášíme pohodlí a spolehlivost v&nbspoblasti klimatizace. Jsme tady,
               abychom vám zajistili optimální prostředí, aniž byste si museli dělat starosti.
            </p>
          </div>
        </div>

        <!-- Stats -->
        <dl class="grid grid-cols-1 gap-6 sm:grid-cols-2">
          {
            stats.map((stat) => (
              <div class="border-primary-900/10 dark:border-primary-300/10 rounded-3xl border p-6">
                <dt class="text-base">{stat.name}</dt>
                <dd class="text-3xl font-medium tracking-tight">{stat.value}</dd>
              </div>
            ))
          }
        </dl>
      </div>
    </div>
  </div>
</section>
