<section class="py-16 sm:py-20">
  <div class="mx-auto max-w-2xl px-4 sm:px-6 lg:max-w-7xl lg:px-8">
    <div class="grid gap-12 lg:grid-cols-3 lg:gap-8">
      <h2 class="text-3xl font-medium tracking-tight sm:text-4xl underline decoration-red decoration-4 underline-offset-4">O nás</h2>
      <div class="flex flex-col items-start gap-8 sm:gap-10 lg:col-span-2">
        <p class="text-primary-950/70 dark:text-primary-200/70 text-base sm:text-lg">
          Specializujeme se na montáž tepelných čerpadel a klimatizačních systémů, zejména od renomovaných značek LG a Toshiba. I přesto, že jsme menší firma, naše odhodlání a zkušenosti nás dělají spolehlivým partnerem pro vaše potřeby v oblasti klimatizace a vytápění.
          
        </p>
        <p class="text-primary-950/70 dark:text-primary-200/70 text-base sm:text-lg"><b>Vaše pohodlí je naším cílem.</b> S Klim–Topem můžete počítat na cestě k optimálnímu klimatickému prostředí pro vaši domácnost nebo podnik. Kontaktujte nás pro další informace a konzultace.</p>
        <a
          href="/about"
          class="bg-blue dark:bg-primary-400 hover:bg-blue2 dark:hover:bg-primary-300 focus-visible:outline-primary-600 dark:focus-visible:outline-primary-400 dark:text-primary-950 inline-flex items-center justify-center rounded-full border border-transparent px-5 py-3 text-base font-medium text-black transition focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2"
        >
          Více o nás
        </a>
      </div>
    </div>
  </div>
</section>