<section class="py-16 sm:py-20">
  <div class="mx-auto max-w-2xl px-4 text-center sm:px-6 lg:max-w-7xl lg:px-8">
    <div
      class="bg-red dark:bg-primary-400/10 flex flex-col items-center gap-8 rounded-3xl px-5 py-16 sm:gap-10"
    >
      <div class="flex flex-col gap-4 sm:gap-6">
        <h2 class="mx-auto max-w-sm text-3xl text-white font-medium tracking-tight sm:text-4xl">
          Spojte se s námi pro pohodlný klimatický komfort
        </h2>
        <p class="text-primary-950/70 dark:text-primary-200/70 text-white mx-auto max-w-2xl text-lg">
          Zajímá vás montáž klimatizací a tepelných čerpadel? Máte otázky ohledně našich služeb? Rádi vám odpovíme a poskytneme veškeré informace, které potřebujete. Stačí použít náš kontaktní formulář níže a my se ozveme co nejdříve.
        </p>
      </div>
      <a
        href="/contact"
        class="bg-blue dark:bg-primary-400 hover:bg-blue2 dark:hover:bg-primary-300 focus-visible:outline-primary-600 dark:focus-visible:outline-primary-400 dark:text-primary-950 inline-flex items-center justify-center rounded-full border border-transparent px-5 py-3 text-base font-medium text-black transition focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2"
      >
        Kontaktujte nás
      </a>
    </div>
  </div>
</section>
