<section class="py-16 sm:py-20">
    <div class="mx-auto max-w-2xl px-4 sm:px-6 lg:max-w-7xl lg:px-8">
      <div class="grid gap-12 lg:grid-cols-3 lg:gap-8">
        <h2 class="text-3xl font-medium tracking-tight sm:text-4xl underline decoration-red decoration-4 underline-offset-4">Klimatizace</h2>
        <div class="flex flex-col items-start gap-8 sm:gap-10 lg:col-span-2">
          <p class="text-primary-950/70 dark:text-primary-200/70 text-base sm:text-lg">
            <b><u><a href="https://www.toshiba-aircondition.com/cz/uvodni-stranka.html">Toshiba Corporation</b></u></a> používá nejmodernější technologie a vysoce kvalitní komponenty, s důrazem na kvalitu výroby každého jednotlivého zařízení. Své produkty vyrábí Toshiba od roku 1975 v&nbsptovárnách v Japonsku a Thajsku. Oba výrobní závody jsou držiteli certifikátu mezinárodního standardu kvality ISO 14001. Všechna zařízení splňují normy EU, což je deklarováno označením CE, které je uvedeno na typovém štítku každého výrobku. Samozřejmostí je plnění direktivy 2002/95/EU (ROHS) zakazující použití nebezpečných látek v elektrických a elektronických výrobcích. Technické údaje odpovídají mezinárodní normě EUROVENT, která slouží jako ochrana zákazníka a dokladuje korektnost měřených a uvedených údajů. Kvalitě zařízení můžete plně důvěřovat – je sledována od výroby až po konečnou montáž zařízení odbornými autorizovanými firmami.
          </p>
          <p class="text-primary-950/70 dark:text-primary-200/70 text-base sm:text-lg">
            <b><u><a href="https://www.lg.com/cz/klima-tepelna-cerpadla">LG Electronics</b></u></a> je celosvětově nejprodávanější značkou v nepřetržité řadě posledních sedmi let. Loňský rok byl také třetím po sobě jdoucím rokem, kdy společnost LG dodala více než 10 milionů klimatizací po celém světě. Klimatizační systémy LG pochází ze šesti středisek výzkumu a vývoje po celém světě – z Koreje, Severní Ameriky, Číny, Asie, Evropy a Ruska. Nové modely se mohou pochlubit řadou prvků zohledňujících zdravotní hledisko, které jsou součástí tzv. „celkového zdravotního řešení“ společnosti LG. Tyto modely jsou vybaveny systémem čistící péče a mají řadu filtrů, které v místnosti zajišťují neustále čistý vzduch. Společnost LG nabízí i sérii klimatizačních jednotek Art Cool, mezi které patří i model Art Cool Gallery ve stylu obrazu. Tento model získal prestižní cenu za design 2007 iF Design Award.

            

          </p>
        </div>
        
        
      </div>
    </div>
  </section>

  <section class="py-16 sm:py-20">
    <div class="mx-auto max-w-2xl px-4 sm:px-6 lg:max-w-7xl lg:px-8">
      <div class="grid gap-12 lg:grid-cols-3 lg:gap-8">
        <h2 class="text-3xl font-medium tracking-tight sm:text-4xl underline decoration-red decoration-4 underline-offset-4">Princip klimatizace
        </h2>
        <div class="flex flex-col items-start gap-8 sm:gap-10 lg:col-span-2">
          <p class="text-primary-950/70 dark:text-primary-200/70 text-base sm:text-lg">
            Nejsnazším vysvětlením funkce klimatizace je princip chladničky. Chladnička odnímá teplo potravinám a to následně uvolňuje do místnosti (nejčastěji černým žebrováním na zadní straně). Jednoduše z jednoho prostoru teplo odebírá a do druhého jej předává. Klimatizace dělá to samé – představte si, že váš pokoj je chladničkou a venkovní jednotka předává na balkoně teplo do okolí.
          </p>
          <h4 class="text-xl font-medium tracking-tight sm:text-2xl">Fyzikální proces klimatizace</h4>
          <p class="text-primary-950/70 dark:text-primary-200/70 text-base sm:text-lg">
            Fyzikální princip v klimatizaci je složený z více procesů za sebou. Základní etapy jsou stlačování par chladiva, kondenzace vysokotlakého plynu na kapalinu (ochlazením), transoprt kapaliny pod tlakem do vnitřní jednotky, expanzi do oblasti s nižším tlakem (přes kapiláru, expanzní ventil) spojené s&nbspodpařováním, tj. přeměně kapaliny na plyn (ohřívání, přejímá teplo z prostoru). A pak jsou páry chladiva opět nasávány do kompresoru a stlačovány.
          </p>
          <img
          class=""
          width=""
          height=""
          src="/assets/klimatizaceObr.png"
          alt="obrázek principu klimatizace"
        />
          <h4 class="text-xl font-medium tracking-tight sm:text-2xl">1. fáze – komprese</h4>
          <p class="text-primary-950/70 dark:text-primary-200/70 text-base sm:text-lg">
            Kompresor nasává chladivo v podobě par a pod vysokým tlakem tyto páry stlačuje. Páry se při kompresi rovněž stlačováním zahřívají.
          </p>
          <h4 class="text-xl font-medium tracking-tight sm:text-2xl">2. fáze – kondenzace (předávání tepla)</h4>
          <p class="text-primary-950/70 dark:text-primary-200/70 text-base sm:text-lg">
            Vysoce stlačené páry chladiva se v kondenzátoru intenzivně ochlazují a tím dochází k jejich kondenzaci, přičemž se uvolňuje energie nejen stlačení, ale hlavně energie změny skupenství látek (obdobně vodní pára při ohřívání předmětů, například pokličky, chladne a sráží se na vodu – proces chladiva je obdobný, jen probíhá při nižší teplotě (cca 20-55°C). Zkondenzované chladivo v podobě kapaliny je transportováno do místa určení.
          </p>
          <h4 class="text-xl font-medium tracking-tight sm:text-2xl">3. fáze – expanze (přijímání tepla)</h4>
          <p class="text-primary-950/70 dark:text-primary-200/70 text-base sm:text-lg">
            Chladivo v podobě kapaliny proudí k rozstřikovacímu ventilu nebo kapiláře, které slouží díky malému otvoru jako „zúžený“ prostor neřkuli tryska. Průchodem přes rozstřikovací ventil se zařízení dostane do oblasti, kde je nižší tlak a vyšší teplota (výparník s pokojovou teplotou) a kapičky chladiva se tím pádem intenzivně odpařují (obdoba varu vody při 100°C s nutností dodávat teplo vařičem – zde proces probíhá při teplotě okolo 6°C a chladivo si teplo odebírá samo ve výparníku, který se intenzivně ochlazuje). Proud vzduchu procházející výparníkem se tím pádem o výparník velmi intenzivně chladí.
          </p>
          <h4 class="text-xl font-medium tracking-tight sm:text-2xl">4. fáze (1. fáze) – komprese</h4>
          <p class="text-primary-950/70 dark:text-primary-200/70 text-base sm:text-lg">
            Ohřátý plyn proudí zpět ke kompresoru, kde dochází k opětovné kompresi a celý cyklus se opakuje.
          </p>
        </div>
        
        
      </div>
    </div>
  </section>
  
  
 